<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <style>
      .salio {
        background-color: #ffdddd; /* Color de fondo cuando se marca el checkbox */
      }
    </style>
  </head>
  <body>

    
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid nav justify-content-center">
        <a class="navbar-brand">Bienvenido a Registrar Personas</a>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar Persona" aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </nav>

    <div class="btn-group btn-block col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <a href="#" class="btn btn-primary" aria-current="page">Inicio</a>
      <a href="#" class="btn btn-primary" aria-current="page">#</a>
      <a href="#" class="btn btn-primary" aria-current="page">#</a>
    </div>


    <div class="py-3">
      {% block body %} {% endblock body %}
    </div>



    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var checkboxSalio = document.getElementById('salio');
        var fechaSalio = document.getElementById('fecha_salida');
        var formularioContainer = document.getElementById('formularioContainer');
  
        checkboxSalio.addEventListener('change', function() {
          if (this.checked) {
            fechaSalio.disabled = false;
            var fechaActual = new Date().toISOString().slice(0, 10);
            fechaSalio.value = fechaActual;
            formularioContainer.classList.add('salio'); // Agregar la clase 'salio' al contenedor
          } else {
            fechaSalio.disabled = true;
            fechaSalio.value = '';
            formularioContainer.classList.remove('salio'); // Remover la clase 'salio' del contenedor
          }
        });
      });
    </script>


  </body>
</html>
