{% extends "./base.html" %}

{% block title %}Registros Listados{% endblock title %}



{% block body %}

<div class="class row">
    <div class="class col-md-4 offset-md-4">
        <h2>Modificar Datos</h2>
        <div class="class card">
            <div class="class card-body">
                <form action="/editarPersona/" method="POST"> {% csrf_token %}
                    <div class="form-group py-2">
                        <label for="dni">DNI/Pasaporte:</label>
                        <input type="text" id="dni_pasaporte" name="dni_pasaporte" value="{{ persona.dni_pasaporte }}" class="form-control" placeholder="DNI/Pasaporte" minlength="7" maxlength="8" required readonly>
                    </div>
                    <div class="form-group py-2">
                        <label for="apellido">Apellido:</label>
                        <input type="text" id="apellido" name="apellido" value={{persona.apellido}} class="form-control" placeholder="Apellido" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" value={{persona.nombre}} class="form-control" placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="fecha_salida">Fecha de Salida:</label>
                        <input type="date" id="fecha_salida" name="fecha_salida" value={{persona.fecha_salida}} class="form-control" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="numero_habitacion">Número de Habitación:</label>
                        <input type="number" id="numero_habitacion" name="numero_habitacion" value={{persona.numero_habitacion}} class="form-control" required>
                    </div>
                    <div class="class from-group py-2">
                        <label>
                            <input type="checkbox" id="salio" name="salio"> ¿Salió?
                          </label>
                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const dniInput = document.getElementById('dni_pasaporte');
    const dniOriginal = dniInput.value;

    dniInput.addEventListener('input', () => {
        if (dniInput.value !== dniOriginal) {
            alert('No puedes modificar el DNI/Pasaporte');
            dniInput.value = dniOriginal;
        }
    });
</script>

{% endblock %}
