{% extends "./base.html" %}

{% block title %}Registros Listados{% endblock title %}



{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 style="text-align: center; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; color: #007bff;">Modificar Datos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarPersona/" method="POST" id="editarPersonaForm">
                    {% csrf_token %}
                    <div class="form-group py-2">
                        <label for="dni">DNI/Pasaporte:</label>
                        <input type="text" id="dni_pasaporte" name="dni_pasaporte" value="{{ persona.dni_pasaporte }}" class="form-control" placeholder="DNI/Pasaporte" minlength="7" maxlength="8" required readonly>
                    </div>
                    <div class="form-group py-2">
                        <label for="apellido">Apellido:</label>
                        <input type="text" id="apellido" name="apellido" value="{{ persona.apellido }}" class="form-control" placeholder="Apellido" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" value="{{ persona.nombre }}" class="form-control" placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="fecha_salida">Fecha de Salida:</label>
                        <input type="date" id="fecha_salida" name="fecha_salida" value="{{ persona.fecha_salida|date:'Y-m-d' }}" class="form-control" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="numero_habitacion">Número de Habitación:</label>
                        <input type="number" id="numero_habitacion" name="numero_habitacion" value="{{ persona.numero_habitacion }}" class="form-control" required>
                    </div>
                    <div class="form-group py-2">
                        <label>
                            <input type="checkbox" id="salio" name="salio" {% if persona.salio %}checked{% endif %}> ¿Salió?
                        </label>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a href="{% url 'home' %}" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const dniInput = document.getElementById('dni_pasaporte');
    const dniOriginal = dniInput.value;

    dniInput.addEventListener('input', () => {
        if (dniInput.value !== dniOriginal) {
            alert('No puedes modificar el DNI/Pasaporte');
            dniInput.value = dniOriginal;
        }
    });
</script>

<script>
    const fechaSalidaInput = document.getElementById('fecha_salida');

    fechaSalidaInput.addEventListener('keydown', function(event) {
        event.preventDefault();
    });
</script>

<!-- Incluir la biblioteca SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const editarPersonaForm = document.getElementById('editarPersonaForm');

    editarPersonaForm.addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar envío del formulario

        // Enviar datos del formulario al servidor (por ejemplo, mediante una solicitud AJAX)
        // ...

        // Mostrar la ventana emergente después de guardar correctamente
        Swal.fire({
            title: 'Guardado con éxito',
            icon: 'success',
            confirmButtonText: 'Aceptar'
        }).then(() => {
            // Aquí puedes agregar código adicional después de cerrar la ventana emergente
            editarPersonaForm.submit(); // Enviar el formulario después de cerrar la ventana emergente
        });
    });
</script>

<script>
    const numeroHabitacionInput = document.getElementById('numero_habitacion');

    numeroHabitacionInput.addEventListener('input', function() {
        const valor = parseInt(this.value);
        if (isNaN(valor) || valor < 1 || valor > 15) {
            Swal.fire({
                title: 'Número de Habitación incorrecto',
                text: 'Por favor, ingrese un número entero positivo del 1 al 15 inclusive.',
                icon: 'warning',
                confirmButtonText: 'Aceptar'
            });
            this.value = ''; // Limpiar el campo
        }
    });
</script>



{% endblock %}
