{% extends "./base.html" %}

{% block title %}Registros Listados{% endblock title %}



{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2 style="text-align: center; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; color: #007bff;">Ingresar Datos</h2>
        <div class="class card">
            <div class="card-body">
                <form action="/registrarPersona/" method="POST" id="registrarPersonaForm">
                    {% csrf_token %}
                    <div class="form-group py-2">
                        <label for="dni">DNI/Pasaporte:</label>
                        <input type="text" id="dni_pasaporte" name="dni_pasaporte" class="form-control" placeholder="DNI/Pasaporte" minlength="7" maxlength="8" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="apellido">Apellido:</label>
                        <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="fecha_entrada">Fecha de Entrada:</label>
                        <input type="date" id="fecha_entrada" name="fecha_entrada" class="form-control" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="fecha_salida">Fecha de Salida:</label>
                        <input type="date" id="fecha_salida" name="fecha_salida" class="form-control" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="numero_habitacion">Número de Habitación:</label>
                        <input type="number" id="numero_habitacion" name="numero_habitacion" class="form-control" min="1" max="15" required>
                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button type="reset" class="btn btn-danger">Limpiar</button>
                </form>
            </div>
        </div>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h2 style="text-align: center; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; color: #007bff;">Datos almacenados</h2>
        <div class="class table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center;">#</th>
                        <th style="text-align: center;">D.N.I.</th>
                        <th style="text-align: center;">NOMBRE</th>
                        <th style="text-align: center;">APELLIDO</th>
                        <th style="text-align: center;">FECHA DE ENTRADA</th>
                        <th id="fecha_salida" style="text-align: center;">FECHA DE SALIDA</th>
                        <th style="text-align: center;">Nª DE HABITACIÓN</th>
                        <th colspan="2" style="text-align: center;">OPCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros %}
                    <tr>
                        <td style="text-align: center;">{{forloop.counter}}</td>
                        <td style="text-align: center;">{{registro.dni_pasaporte}}</td>
                        <td style="text-align: center;">{{registro.nombre}}</td>
                        <td style="text-align: center;">{{registro.apellido}}</td>
                        <td style="text-align: center;">{{registro.fecha_entrada}}</td>
                        <td style="text-align: center;">{{registro.fecha_salida}}</td>
                        <td style="text-align: center;">{{registro.numero_habitacion}}</td>
                        <td style="text-align: center;">
                            <a href="javascript:void(0);" onclick="confirmDelete('{{registro.dni_pasaporte}}')" class="btn btn-danger">Eliminar</a>
                            <a href="edicionPersona/{{registro.dni_pasaporte}}" class="btn btn-info">Editar</a>
                        </td>                                      
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function confirmDelete(dni) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Esta acción no se puede deshacer.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Eliminar el registro
                window.location.href = "/eliminarRegistro/" + dni;
                Swal.fire(
                    'Eliminado',
                    'El registro ha sido eliminado.',
                    'success'
                )
            }
        })
    }
</script>

<!-- Incluir la biblioteca SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    // Obtener la lista de DNIs registrados desde el servidor
    fetch('/dnis-registrados/')
        .then(response => response.json())
        .then(data => {
            const dnisRegistrados = data;
            const dniInput = document.getElementById('dni_pasaporte');

            // Agregar un evento de validación al input de DNI
            dniInput.addEventListener('input', () => {
                const dniIngresado = dniInput.value.trim();
                if (dnisRegistrados.includes(dniIngresado)) {
                    Swal.fire({
                        title: 'DNI ya registrado',
                        text: 'El DNI ingresado ya está registrado.',
                        icon: 'warning',
                        confirmButtonText: 'Aceptar'
                    });
                    dniInput.value = ''; // Limpiar el input
                }
            });
        })
        .catch(error => console.error('Error al obtener los DNIs registrados:', error));
</script>

<script>
    const fechaEntradaInput = document.getElementById('fecha_entrada');
    const fechaSalidaInput = document.getElementById('fecha_salida');

    fechaEntradaInput.addEventListener('keydown', function(event) {
        event.preventDefault();
    });

    fechaSalidaInput.addEventListener('keydown', function(event) {
        event.preventDefault();
    });
</script>

<!-- Incluir la biblioteca SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const form = document.getElementById('registrarPersonaForm');

    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar envío del formulario

        // Enviar datos del formulario al servidor (por ejemplo, mediante una solicitud AJAX)
        // ...

        // Mostrar la ventana emergente después de guardar correctamente
        Swal.fire({
            title: 'Guardado con éxito',
            icon: 'success',
            confirmButtonText: 'Aceptar'
        }).then(() => {
            // Aquí puedes agregar código adicional después de cerrar la ventana emergente
            form.submit(); // Enviar el formulario después de cerrar la ventana emergente
        });
    });
</script>

<!-- Incluir la biblioteca SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const numeroHabitacionInput = document.getElementById('numero_habitacion');

    numeroHabitacionInput.addEventListener('input', function() {
        const valor = parseInt(this.value);
        if (isNaN(valor) || valor < 1 || valor > 15) {
            Swal.fire({
                title: 'Número de Habitación incorrecto',
                text: 'Por favor, ingrese un número entero positivo del 1 al 15 inclusive.',
                icon: 'warning',
                confirmButtonText: 'Aceptar'
            });
            this.value = ''; // Limpiar el campo
        }
    });
</script>


{% endblock body %}

