{% extends "./base.html" %}

{% block title %}Registros Listados{% endblock title %}



{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Ingresar Datos</h2>
        <div class="class card">
            <div class="class card-body">
                <form action="/registrarPersona/" method="POST">
                    {% csrf_token %}
                    <div class="form-group py-2">
                        <label for="dni">DNI/Pasaporte:</label>
                        <input type="text" id="dni_pasaporte" name="dni_pasaporte" class="form-control" placeholder="DNI/Pasaporte" minlength="7" maxlength="8" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="apellido">Apellido:</label>
                        <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="fecha_entrada">Fecha de Entrada:</label>
                        <input type="date" id="fecha_entrada" name="fecha_entrada" class="form-control" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="fecha_salida">Fecha de Salida:</label>
                        <input type="date" id="fecha_salida" name="fecha_salida" class="form-control" required>
                    </div>
                    <div class="form-group py-2">
                        <label for="numero_habitacion">Número de Habitación:</label>
                        <input type="number" id="numero_habitacion" name="numero_habitacion" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
                
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="class table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>D.N.I.</th>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>FECHA DE ENTRADA</th>
                        <th id="fecha_salida">FECHA DE SALIDA</th>
                        <th>Nª DE HABITACIÓN</th>
                        <th colspan="2">OPCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{registro.dni_pasaporte}}</td>
                        <td>{{registro.nombre}}</td>
                        <td>{{registro.apellido}}</td>
                        <td>{{registro.fecha_entrada}}</td>
                        <td>{{registro.fecha_salida}}</td>
                        <td>{{registro.numero_habitacion}}</td>
                        <td><td><a href="javascript:void(0);" onclick="confirmDelete('{{registro.dni_pasaporte}}')" class="btn btn-danger">Eliminar</a>
                            <a href="edicionPersona/{{registro.dni_pasaporte}}" class="btn btn-info">Editar</a>
                        </td>                                      
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function confirmDelete(dni) {
        if (confirm('¿Estás seguro de que deseas eliminar este registro?')) {
            window.location.href = "/eliminarRegistro/" + dni;
        }
    }
</script>

<script>
    // Obtener la lista de DNIs registrados desde el servidor
    fetch('/dnis-registrados/')
        .then(response => response.json())
        .then(data => {
            const dnisRegistrados = data;
            const formulario = document.getElementById('registro-form');
            const dniInput = document.getElementById('dni_pasaporte');

            // Agregar un evento de validación al input de DNI
            dniInput.addEventListener('input', () => {
                const dniIngresado = dniInput.value.trim();
                if (dnisRegistrados.includes(dniIngresado)) {
                    alert('El DNI ingresado ya está registrado');
                    dniInput.value = ''; // Limpiar el input
                }
            });
        })
        .catch(error => console.error('Error al obtener los DNIs registrados:', error));
</script>


{% endblock body %}

