{% extends "./base.html" %}

{% block title %}Registros Listados{% endblock title %}



{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Ingresar Datos</h2>
        <div class="class card">
            <div class="class card-body">
                <form action="/registrarPersona/" method="POST"> {% csrf_token %}
                    <div class="class form-group py-2">
                        <input type="text" id="dni" name="dni" class="form-control" placeholder="dni" minlength="7" maxlength="8" required>
                    </div>
                    <div class="class form-group py-2">
                        <input type="text" id="apellido" name="apellido" class="form-control" placeholder="apellido" maxlength="50" required>
                    </div>
                    <div class="class form-group py-2">
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="nombre" maxlength="50" required>
                    </div>
                    <div class="class form-group py-2">
                        <input type="number" id="edad" name="edad" class="form-control" placeholder="edad" maxlength="2" required>
                    </div>
                    <div class="class form-group py-2">
                        <button type="submit" class="btn btn-success text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="class table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>D.N.I.</th>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>EDAD</th>
                        <th colspan="2">OPCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{registro.dni}}</td>
                        <td>{{registro.nombre}}</td>
                        <td>{{registro.apellido}}</td>
                        <td>{{registro.edad}}</td>
                        <td><a href="eliminarRegistro/{{registro.dni}}" class="btn btn-danger">Eliminar</a>
                            <a href="edicionPersona/{{registro.dni}}" class="btn btn-info">Editar</a>
                        </td>                                      
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}

